input {
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    display: block;
}

@media (min-width: 0) {
    input {
        width: 100%;
    }
}

@media (min-width: 500px) {
    input {
        width: 50%;
    }
}

@media (min-width: 1250px) {
    input {
        width: 25%;
    }
}