:root {
    --first-theme-color: #343838;
    --sec-theme-color: #ffd00e;
    --success-color: #197319;
    --danger-color: #8b0000;
    --max-width-value: 1200px;
    --shadow-style: 0 1px 2px rgba(50, 50, 50, 0.15);
}

/* get rid of default padding/margin */
* {
    padding: 0;
    margin: 0;
}

body {
    color: #000;
    background: #f5f5f5;
    font-family: "Open Sans", sans-serif, Verdana, Geneva;
}

#body-container {
    max-width: var(--max-width-value);
    background-color: #fff;
    box-shadow: var(--shadow-style);
    position: relative;
    padding: 20px;
}

#header {
    padding: 5px 0 10px 0;
    font-size: 30px;
    background: var(--first-theme-color);
}

#header #header-title {
    max-width: var(--max-width-value);
    margin: 0 auto;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
}

#header #header-title.highlighted-content a {
    color: var(--sec-theme-color);
}

#header #header-title a {
    text-decoration: none;
    color: #fff;
}

#header #header-title a:hover {
    color: var(--sec-theme-color);
}

#main-nav {
    background: #fff;
    color: #000;
    box-shadow: var(--shadow-style);
}

#main-nav ul {
    max-width: var(--max-width-value);
    margin: 0 auto;
}

#main-nav ul li {
    display: inline-block;
    list-style: none;
    text-align: center;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}

#main-nav ul li:hover, #main-nav ul .highlighted-content {
    background: var(--first-theme-color);
    color: var(--sec-theme-color);
}

@media (min-width: 0) {
    /* add margin so that the title etc isn't at the edge of the screen */
    #header #header-title {
        margin: 0 15px 0 15px;
    }

    #body-container {
        margin: 15px 15px 0 15px;;
    }

    /* when screen too small -> make nav items stack under instead of next to each other and hide it */
    #main-nav ul li {
        display: block;
    }

    #main-nav {
        display: none;
        position: absolute;
        z-index: 5;
        width: 100%;

    }

    #small-nav-header {
        cursor: pointer;
        float: right;
    }

    #small-nav-header.highlighted-content .menu-bar{
        background: var(--sec-theme-color);
    }

    .menu-bar {
        background: #fff;
        width: 30px;
        height: 4px;
        margin: 7px 0;
        border-radius: 20px;
    }
}

@media (min-width: 500px) {
    /* hide the small nav bar and show the "normal" one */
    #main-nav ul li {
        display: inline-block;
    }

    #main-nav {
        /* don't like it but js has a higher priority so !important or an extra js listener -> !important */
        display: block !important;
        position: relative;
        z-index: unset;
    }

    #small-nav-header {
        display: none;
    }
}

@media (min-width: 1250px) {
    /* overwrite margin when we are over the 1200px */
    #main-nav ul, #header #header-title {
        margin: 0 auto;
    }

    #body-container {
        margin: 25px auto;
    }
}
