/* Game-Display */
.game {
    text-align: center;
    margin: 10px 0 20px 0;
    font-size: 30px;
}

.points {
    margin: 10px 0 10px 0;
}

.names {
    margin-bottom: 5px;
}

/* Level / Points / Names / Point-Display*/
.grid-container-level, .grid-container-points, .names, .points {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 3fr);
    text-align: center;
}

/* Submit */
.grid-container-all-points {
    text-align: center;
    color: #000;
}

.grid-container-all-points input[type=submit] {
    margin: 20px 0 10px 0;
    width: 80%;
}

/* Reset */
.grid-container-reset {
    text-align: center;
}

.grid-container-reset input {
    margin: 10px 0 20px 0;
    width: 50%;
    background-color: var(--danger-color);
}

.grid-container {
    background-color: var(--main-bg-color);
    padding-top: 5px;
    padding-bottom: 5px;
}

input {
    overflow: hidden;
    text-align: center;
}

/* Mobile */
@media (min-width: 250px) {
    .grid-container {
        padding-left: 5%;
        padding-right: 5%;
    }
}

/* Tablet */
@media (min-width: 500px) {
    .grid-container {
        padding-left: 10%;
        padding-right: 10%;
    }
}

/* Desktop - Normal */
@media (min-width: 1000px) {
    .grid-container {
        padding-left: 20%;
        padding-right: 20%;
    }
}

/* Desktop - Big */
@media (min-width: 1500px) {
    .grid-container {
        padding-left: 25%;
        padding-right: 25%;
    }
}

/* MODAL */

/*
Zu Faul eigenes Modal zu schreiben -> Shit Code von random typen
 */

#dialog {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.15);
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    opacity: 0;
    visibility: hidden;
}

.dialog_state {
    visibility: hidden;
    opacity: 0;
    display: none;
}

.dialog_state:checked + #dialog,
#dialog.dialog_open {
    transition-delay: 0s;
    opacity: 1;
    visibility: visible;
}

#dlg-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
}

.dialog_state:checked + #dialog #dlg-wrap {
    max-height: 24rem;
    opacity: 1;
    padding: 2rem;
}

#dlg-wrap {
    position: relative;
    z-index: 1;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 2rem;
    border-radius: 0.25rem;
    /*border: 1px solid #969696;*/
    background: #fff;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    max-height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    transition: all .5s;
    color: #000;
}

#dlg-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
}

h2#dlg-header {
    text-transform: initial;
    letter-spacing: -0.025em;
    margin: 0 0 1rem;
}

#dlg-content {
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.015em;
}

#main {
    text-align: center;
}

#main label {
    background-color: var(--danger-color);
    margin: 10px 0 10px 0;
}

.main_area {
    transition: all 0.5s ease-out;
}

.dialog_state:checked ~ .main_area,
.main_area.dialog_open {
    filter: blur(6px);
}

.dialog {
    color: #000;
}