{{ define "main-nav" }}
    <div id="main-nav">
        <ul>
        {{ range $key, $value := . }}
            <li {{ if $value.Current }} class="highlighted-content" {{ end }}>
                <div data-path="{{ $value.Path }}">
                    {{ $value.Title }}
                </div>
            </li>
        {{ end }}
        </ul>
    </div>
{{ end }}