{{define "main-nav"}}
    <div id="small-nav-header">Navigation</div>
    <div id="main-nav">
        <ul>
        {{ range $key, $value := . }}
            <li {{ if $value.Current }} class="current-page" {{ end }}>
                <div data-path="{{ $value.Path }}">
                    {{ $value.Title }}
                </div>
            </li>
        {{ end }}
        </ul>
    </div>
{{end}}